
@{
    Layout = null;
}

<header id="main-nav">
    <div class="top-header">
        <div class="container">
            <div class="col-md-6 flex-top-header">

                <div><a href="@Url.Action("Index","Home")">@Resource.CallCenter</a></div>
                <div><a href="@Url.Action("Token","Home")">@Resource.Token</a></div>
                <div><a href="@Url.Action("PersonalCabinet","Home")">@Resource.PersonalArea</a></div>

            </div>
            <div class="col-md-4 flex-nav-header pull-right">
                @Url.LangSwitcher(ViewContext.RouteData, Resource.Lang)
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="col-md-2 flex-nav-header" id="logo">
                <div class="flex-item">
                    <a href="@Url.Action("Token","Home")">
                        <img src="~/asserts/img/logo ctt.svg" height="42" width="137" />
                    </a>
                </div>
            </div>
            <div class="col-md-10  flex-nav-header">

                <div class="active flex-item  nav-solve-problems"><a href="#solve-problems">@Resource.Problems</a></div>
                <div class="flex-item nav-about-token"><a href="#about-token">@Resource.About</a></div>
                <div class="flex-item  nav-our-offers"><a href="#our-offers">@Resource.Sentence </a></div>
                <div class="flex-item nav-stages-project"> <a href="#stages-project">Развитие</a></div>
            </div>
        </div>
    </div>
</header><!-- //Main Nav -->

