<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        pointer-events: none;
        width: 100%;
        height: 790px;
        position: absolute;
    }

</style>

<script>
    var map;
    function initMap() {
        var myLatLng = { lat: 46.842587, lng: 29.663346 };
        var myLatLng2 = { lat: 46.825538, lng: 29.474121 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Тираспольский офис'
        });
        var marker2 = new google.maps.Marker({
            position: myLatLng2,
            map: map,
            title: 'Бендерский офис'
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0d-e17WPQPAOhV6WxqQz1p2OouxUD0v8&callback=initMap"
        async defer></script>

<section id="contacts">
  
        <div id="on-form" class="on-form">
            <a>X</a>
        </div>

    <div id="map"></div>
    <div class="container">
        <div id="box-contact" class="box-contact wow zoomIn animated">
            <div  class="feedback">
                <div class="title-section">
                    <h1>@Resource.FeedbackForm</h1>
                    <span>@Resource.NotFindAnswerToQuestion</span>
                </div>
                <form method="post" action="">
                    <div class="feedback-form">
                        <div class="item">
                            <div class="col-3">
                                <input type="text" class="effect-3" name="Name" required placeholder="@Resource.YourNameEx" />
                                <span class="focus-border">
                                    <i></i>
                                </span>
                            </div>
                            <div class="col-3">
                                <input type="email" class="effect-3" name="Email" required placeholder="@Resource.Email" />
                                <span class="focus-border">
                                    <i></i>
                                </span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-3">
                                <input type="tel" name="Phone" class="effect-3" required placeholder="@Resource.Phone" />
                                <span class="focus-border">
                                    <i></i>
                                </span>
                            </div>
                            <div class="col-3">
                                <input type="text" name="Company" class="effect-3" placeholder="@Resource.CompanyOptional " />
                                <span class="focus-border">
                                    <i></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="text-message">
                        <input type="text" name="Text" placeholder="@Resource.MessageText" />
                    </div>
                    <div class="feedback-form">
                        <div class="item">
                            <div class="g-recaptcha"  data-callback="recaptchaCallback" data-sitekey="6LeRUEoUAAAAAAD3JMGSIn1zhVZ0KzqmY4R75f2n"></div>
                        </div>
                        <div>
                            <p>@Resource.YourPersonalDataNotBeTransferred</p>
                        </div>
                    </div>
                    <div class="send">
                        <button type="submit" id="form-submit" disabled class="btn btn-orange btn-large upper">@Resource.Send</button>
                    </div>
                </form>
            </div>
            <div class="contact">
                <div class="title-section white">
                    <h1>@Resource.Contacts</h1>
                    <span>@Resource.GetAdviceByPhoneOrVisit</span>
                </div>
                <div class="contact-info">
                    <div class="wow flipInX" id="Tiraspol" data-wow-delay="0.6s">
                        <span class="icon icon-location2"></span>@Resource.TiraspolOdessa
                    </div>
                    <div class="wow flipInX" id="Bender" data-wow-delay="0.9s">
                        <span class="icon icon-location2"></span>@Resource.BenderLenin
                    </div>
                    <div class="wow flipInX" id="Dnevstrovsk" data-wow-delay="1.1s">
                        <span class="icon icon-location2"></span>@Resource.DnestrovskStroiteley
                    </div>
                    <div class="wow flipInX" data-wow-delay="1.3s">
                        <span class="icon icon-mail"></span><a href="mailto:info@call-time.ru">info@call-time.ru</a>
                    </div>
                    <div class="wow flipInX" data-wow-delay="1.5s">
                        <span class="icon icon-phone"></span><a href="tel:37377833338">+373 778-3333-8</a>
                    </div>
                    <div class="wow flipInX" data-wow-delay="1.8s">
                        <span class="icon icon-skype"></span><a href="skype:alexpetra4?call">alexpetra4</a>
                    </div>
                    <div class="wow flipInX" data-wow-delay="2.1s">
                        <span class="icon icon-vk"></span><a href="https://vk.com/calltime_pmr">@Resource.Vk</a>
                    </div>
                </div>
                <div id="onMap" class="on-map">
                    <a>@Resource.OnMap</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script src='https://www.google.com/recaptcha/api.js?hl=ru'></script>

  
<script>
    function recaptchaCallback() {
        $('#form-submit').removeAttr('disabled');
    };
</script>