<section id="facts-figurese">
    <div class="container">
        <div align="center" class="title-section">
            <h1>@Resource.FactsAndFigures</h1>
        </div>
        <div class="row wow fadeInRight flex-facts">
            <div>

                <span class="number number-5">5</span><i>+</i>

                <span class="description">
                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.FactsWorkYearText)
                </span>
            </div>
            <div>
                <span class="number number-24">24</span>
                <span class="description">
                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.FactsHoursPerDayText)
                </span>
            </div>
            <div>
                <span class="number number-327">280</span>
                <span class="description">
                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.FactsOperatorsText)
                </span>
            </div>
            <div>
                <span class="number number-42">42</span>
                <span class="description">
                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.FactsPartnersText)
                </span>
            </div>
        </div>
    </div>
</section>