@model CallTime.Web.Models.ViewModel
<section id="header">
    <div class="container flex-column">
        <div class="title-header">
            @Resource.Subcontract
            <p>@Resource.For <span>@Resource.CallCenters</span></p>
        </div>
        <div class="desicription-header">
            <div class="slick-header">
                <div>@ContentHelper.GetContent(Model.PageContents, EnumContentKey.MainSlide1)</div>
                <div>@ContentHelper.GetContent(Model.PageContents, EnumContentKey.MainSlide2)</div>
                <div>@ContentHelper.GetContent(Model.PageContents, EnumContentKey.MainSlide3)</div>
                <div>@ContentHelper.GetContent(Model.PageContents, EnumContentKey.MainSlide4)</div>
            </div>

        </div>

        <div class="icons-header">
            <a href="#services" class="nav-incoming-service">
                <div class="box-icon arrow-down">
                    <span class="icon icon-arrow-down2"></span>
                </div>
            </a>
            <a href="#services" class="nav-outgoing-service">
                <div class="box-icon arrow-up">
                    <span class="icon icon-arrow-up-right2"></span>
                </div>
            </a>
            <a href="#services" class=" nav-additional-service">
                <div class="box-icon plus">
                    <span class="icon icon-plus"></span>
                </div>
            </a>
        </div>
    </div>
    <div class="circle-icon" id="arrow-down">
        <a href="#become-partner">
            <span class="icon icon-ctrl revers">

            </span>
        </a>
    </div>

</section>
