<section id="services">
    <div class="container">
        <div align="center" class="title-section">
            <h1>@Resource.Services</h1>
            <span>@Resource.OfferOfOurCompany</span>
        </div>
        <div class="wow fadeInUp">
            <div class="row flex-row">
                <div class="nav-services nav-incoming-service active">
                    <span class="icon icon-arrow-down2"></span>
                    @Resource.InboundServices
                </div>
                <div class="nav-services nav-outgoing-service">
                    <span class="icon icon-arrow-up-right2"></span>
                    @Resource.OutboundServices
                </div>
                <div class="nav-services nav-additional-service" >
                    <span class="icon icon-plus"></span>
                    @Resource.AdditionalServices
                </div>
            </div>
            <div class="services-content">
                <div id="incoming-service" class="active">
                    <div class="title">
                        Предлагаем все услуги по входящим вызовам, которые помогут оптимизировать работу ваших сотрудников и повысить эффективность бизнеса.
                    </div>
                    <div class="flex-ul">
                        <div class="flex-li">
                            <div class="number">
                                01
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Техническая поддержка
                                </div>
                                <p>
                                    Вы продаете электронные устройства или иные технические товары? Тогда вам знакома проблема с постоянной перегруженностью вашей сервисной службы,
                                    которая вынуждена отвечать на типовые вопросы клиентов по работе и эксплуатации вашей продукции. Но эта проблема легко, быстро и недорого решается,
                                    закажите у нас услугу "Техническая поддержка" и увеличьте уровень лояльности Ваших клиентов. Техническая поддержка от колл-центра — Call Time
                                    скорая информационная помощь для ваших клиентов.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                02
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Горячая линия
                                </div>
                                <p>
                                    Для любой успешной компании важно иметь обратную связь со своими клиентами. А любой клиент чувствует себя более комфортно, если имеет возможность в случае возникновения проблемы обратиться за помощью к продавцу товара или услуги. Именно эти задачи решает «горячая линия» - телефонный номер, по которому клиент всегда получит ответы на свои вопросы.
                                    Сall-центр Call Time берет на себя всю организацию ответов на звонки. В Вашем распоряжении будет единый многоканальный номер. Все звонки, поступающие на этот номер, будут круглосуточно обслуживать наши операторы. Руководствуясь сценарием разговора, предоставят клиенту всю необходимую информацию.
                                    Единая справочная служба
                                    Вы продаете товары и услуги, или проводите акции, которые часто вызывают вопросы у людей?
                                    Вы заинтересованы в поддержке обратной связи с клиентами?
                                    Но вы не хотите нести затраты на содержание штата операторов и менеджеров?
                                    Тогда просто возьмите наши ресурсы, и создайте на их основе собственную единую справочную службу, а мы окажем вам всестороннюю помощь.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                03
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Личный секретарь
                                </div>
                                <p>
                                    Нуждаетесь в высококвалифицированном секретаре, но не хотите платить за его услуги слишком высокую цену?
                                    Тогда услуга «Виртуальный секретарь» от аутсорсингового call-центра Call Time — это ваш выбор.
                                    Мы предоставим вам лучший способ оптимизировать работу и повысить собственную эффективность при Ваших минимальных затратах.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                04
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Поддержка рекламных акций
                                </div>
                                <p>
                                    Поддержка рекламных акций — это информирование ваших клиентов о ваших выгодных предложениях. 
                                    Информационная поддержка рекламных акций специалистами call-центра - Call Time позволит вам привлекать 
                                    к участию в акциях больше клиентов и завоевать их доверие, не создавая «авральных» ситуаций в работе собственного отдела продаж.
                                    Профессиональные операторы нашей компании безошибочно донесут до каждого клиента информацию о рекламных акциях, скидках и мероприятиях, которые вы проводите.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                05
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Прием и обработка заказов
                                </div>
                                <p>
                                    Основным конкретным преимуществом компании, работающей на рынке с сильной конкуренцией,
                                    является ее способность обеспечить прием и обработку заказов клиентов в удобное для клиента время и удобным клиенту способом.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="outgoing-service">
                    <div class="title">
                        Исходящие звонки - это возможность актуализировать контакты, вовремя донести необходимую информацию до клиентов, а также получить интересующие для Вас сведения и мнения целевой аудитории.
                    </div>
                    <div class="flex-ul">
                        <div class="flex-li">
                            <div class="number">
                                01
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Телемаркетинг
                                </div>
                                <p>
                                    Телемаркетинг — уникальный инструмент повышения продаж, который заключается в живом общении продавца с потенциальным покупателем по телефону.
                                    При работе специалистов компании Call Time эта услуга формирует положительное впечатление о Вашей компании, повышает лояльность существующих клиентов, а также увеличивает объем продаж.
                                    Мы превратим «холодные звонки» в «горячих клиентов».
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                02
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Телефонный опрос
                                </div>
                                <p>
                                    Анкетирование представляет собой опросы респондентов с помощью заранее подготовленных и четко сформулированных вопросов.
                                    При работе с компанией Call Time телефонное анкетирование является эффективным инструментом своевременного получения актуальной информации о рынке любых продуктов и услуг, а также о качестве Вашего продукта и уровне сервиса в Вашей компании.
                                    Использование контакт-центра - Call Time для проведения анкетирования доказало свою эффективность, так как его техническое оснащение позволяет оперативно проводить опросы среди многотысячной аудитории.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                03
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Актулизация баз данных
                                </div>
                                <p>
                                    Актуализация баз данных — это подтверждение имеющейся информации и получение дополнительных сведений, представляет ревизию, корректировку, обновление и расширение существующей базы данных.
                                    По заранее составленному сценарию операторы call-центра - Call Time звонят по контактам Вашей базы и уточняют название компании, профиль ее деятельности, имена служащих, директорского состава и любую нужную информацию.
                                    В результатом таких действий Вы получаете обновленную базу данных с большим количеством актуальных для Вас контактов. При этом за счет обогащения баз данных ценными сведениями Ваша компания имеет больше возможностей для проявления своей деловой активности.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                04
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Информативный обзвон
                                </div>
                                <p>
                                    Информативный обзвон - это услуга по исходящим звонкам, которые выполняет колл-центр - Call Time.
                                    Мы в кратчайшие сроки можем обзвонить всех ваших клиентов и рассказать им о вашем коммерческом предложении от вашего имени. В зависимости от сроков проекта, вы можете задействовать необходимое количество операторов или даже весь отдел, выполняющий исходящие звонки.
                                    Информирование с помощью специалистов колл-центра - Call Time сэкономит ваши ресурсы, время, освободит ваших сотрудников от утомительных и психологически сложных разговоров.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                05
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Постпродажная забота
                                </div>
                                <p>
                                    Услуга "Постпродажная забота" поможет вам не только повысить лояльность Вашего клиента к компании, но и сделать его постоянным.
                                    ЕСЛИ Вы хотите:
                                    Увеличить вторичные обращения в Вашу компанию
                                    Повысить лояльность клиентов к Вашей компании
                                    Продавать больше одному клиенту
                                    Сделать каждого Вашего клиента постоянным
                                    Вам необходимо обратиться в компанию Call Time, ведь звонки — это наша работа.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                06
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Служба напоминаний
                                </div>
                                <p>
                                    Накопилось много клиентов-задолжников?
                                    Нет времени оповестить о продлении договора всех клиентов за один день?
                                    Тогда закажите в call-center - Call Time услугу «Служба напоминаний», и скоро все ваши клиенты будут оповещены о необходимости продлить договор или внести своевременно оплату!
                                    Профессиональный аутсорсинговый колл-центр - Call Time предлагает всем желающим услугу «Служба напоминаний» на выгодных условиях. Мы решим за вас эти проблемы, свяжемся с клиентами и все им сообщим.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="additional-service">
                    <div class="title">
                        Аутсорсинговый call-центр Call Time предлагает Вам широкий спектр услуг, так или иначе связанных с совершением и приемом телефонных звонков, а также с другими телекоммуникационными технологиями.
                    </div>
                    <div class="flex-ul">
                        <div class="flex-li">
                            <div class="number">
                                01
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Звонок с сайта
                                </div>
                                <p>
                                    Хотите повысить конверсию сайта?
                                    Ищете способы привлечения новых клиентов через интернет?
                                    Функция click-2-call или «звонок с сайта» от Call Time позволяет посетителям сайта оперативно узнавать интересующую информацию. Клиент может заказать обратный звонок или связаться с вами напрямую в режиме браузер.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                02
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    IVR
                                </div>
                                <p>
                                    Для оптимизации входящих звонков клиентов и перенаправления их в соответствии с тематикой для дальнейшей обработки используется голосовое меню IVR.
                                    Мы предлагаем вам не тратить время на принятие и обработку входящих звонков, а воспользоваться предложением нашего call-центра Call Time.
                                    Голосовое меню IVR – выгодный вариант горячей линии для вашей компании, позволяющий сэкономить время для выполнения основной работы.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                03
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Отслеживание состояния заказа
                                </div>
                                <p>
                                    Нуждаетесь в простой и надежной системе отслеживания состояния заказа?
                                    С компанией Call Time нет ничего проще!
                                    Специально для вас мы предусмотрели услугу «Отслеживание состояния заказа», благодаря которой ваши клиенты будут всегда знать о ходе выполнения их заказов.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                04
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Прием и обработкаe-mail
                                </div>
                                <p>
                                    Вы и ваша компания ведут активную переписку по e-mail?
                                    Ваши менеджеры утопают в массе поступающих писем и теряют слишком много времени на их обработку?
                                    Освободите себя, доверьте работу с электронными письмами компании Call Time!
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                05
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Тайный покупатель
                                </div>
                                <p>
                                    Тайный покупатель представляет из себя исследование, которое поможет установить уровень качества работы сотрудников Вашей компании с входящими звонками.
                                    ЕСЛИ
                                    Вы теряете клиентов
                                    Снизилось число продаж
                                    Вы хотите оценить уровень сервиса и эффективность работы
                                    сотрудников
                                    У Вас нет системы контроля качества работы Ваших сотрудников
                                    Вы хотите Снизить потерю клиентов на этапе первоначальных обращений
                                    Вы хотите улучшить уровень обслуживания Ваших клиентов
                                    Тогда услуга «Тайный покупатель» - то, что вам надо.
                                    Компания Call Time поможем вам узнать, как на самом деле работают ваши сотрудники с клиентами.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                06
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Автоматический обзвон
                                </div>
                                <p>
                                    Автоматический обзвон самостоятельно набирает номер телефона и произносит записанное или синтезированное из текста сообщение. Такой инструмент позволит вам предупредить о задолженности, поздравить со знаменательной датой или сообщит о скидках и акциях.
                                    Воспользуйтесь услугой «Автоматический обзвон» от Call Time, и все адресаты будут получать ваши сообщения вовремя без вашего участия.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>