@model CallTime.Web.Models.ViewModel
<section id="services">
    <div class="container">
        <div align="center" class="title-section">
            <h1>@Resource.Services</h1>
            <span>@Resource.OfferOfOurCompany</span>
        </div>
        <div class="wow fadeInUp">
            <div class="row flex-row">
                <div class="nav-services nav-incoming-service active">
                    <span class="icon icon-arrow-down2"></span>
                    @Resource.InboundServices
                </div>
                <div class="nav-services nav-outgoing-service">
                    <span class="icon icon-arrow-up-right2"></span>
                    @Resource.OutboundServices
                </div>
                <div class="nav-services nav-additional-service">
                    <span class="icon icon-plus"></span>
                    @Resource.AdditionalServices
                </div>
            </div>
            <div class="services-content">
                <div id="incoming-service" class="active">
                    <div class="title">
                        @ContentHelper.GetContent(Model.PageContents, EnumContentKey.InboundServiceHead)
                    </div>
                    <div class="flex-ul">
                        <div class="flex-li">
                            <div class="number">
                                01
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.InboundService1)
                                </div>
                                <div class="text-content">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.InboundService1Cont)
                                </div>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                02
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.InboundService2)
                                </div>
                                <div class="text-content">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.InboundService2Cont)
                                </div>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                03
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.InboundService3)
                                </div>
                                <div class="text-content">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.InboundService3Cont)
                                </div>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                04
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.InboundService4)
                                </div>
                                <div class="text-content">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.InboundService4Cont)
                                </div>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                05
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.InboundService5)
                                </div>
                                <div class="text-content">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.InboundService5Cont)
                                </div>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="outgoing-service">
                    <div class="title">
                        @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OutboundServiceHead)
                    </div>
                    <div class="flex-ul">
                        <div class="flex-li">
                            <div class="number">
                                01
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OutboundService1)
                                </div>
                                <div class="text-content">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OutboundService1Cont)
                                </div>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                02
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OutboundService2)
                                </div>
                                <div class="text-content">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OutboundService2Cont)
                                </div>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                03
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OutboundService3)
                                </div>
                                <div class="text-content">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OutboundService3Cont)
                                </div>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                04
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OutboundService4)
                                </div>
                                <div class="text-content">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OutboundService4Cont)
                                </div>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                05
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OutboundService5)
                                </div>
                                <div class="text-content">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OutboundService5Cont)
                                </div>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                06
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OutboundService6)
                                </div>
                                <div class="text-content">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OutboundService6Cont)
                                </div>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="additional-service">
                    <div class="title">
                        @ContentHelper.GetContent(Model.PageContents, EnumContentKey.AdditionalServiceHead)
                    </div>
                    <div class="flex-ul">
                        <div class="flex-li">
                            <div class="number">
                                01
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.AdditionalService1)
                                </div>
                                <div class="text-content">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.AdditionalService1Cont)
                                </div>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                02
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.AdditionalService2)
                                </div>
                                <div class="text-content">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.AdditionalService2Cont)
                                </div>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                03
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.AdditionalService3)
                                </div>
                                <div class="text-content">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.AdditionalService3Cont)
                                </div>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                04
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.AdditionalService4)
                                </div>
                                <div class="text-content">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.AdditionalService4Cont)
                                </div>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                05
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.AdditionalService5)
                                </div>
                                <div class="text-content">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.AdditionalService5Cont)
                                </div>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                06
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.AdditionalService6)
                                </div>
                                <div class="text-content">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.AdditionalService6Cont)
                                </div>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                07
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.AdditionalService7)
                                </div>
                                <div class="text-content">
                                    @ContentHelper.GetContent(Model.PageContents, EnumContentKey.AdditionalService7Cont)
                                </div>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>