<div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
        <li class="dropdown dropdown-fw dropdown-fw-disabled" id="@EnumSitePage.Home-tab">
            <a href="javascript:;" class="text-uppercase">
                @*<i class="icon-home"></i>*@ Главная
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li>
                    <a href="@Url.Action("Index","Setting",new{page=EnumSitePage.Home})">
                        Настройки
                    </a>
                </li>
                <li>
                    <a target="_blank" href="@Url.Action("Index","Home",new{Area="",edit="edit"})">
                        Редактирование контента
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-fw dropdown-fw-disabled" id="@EnumSitePage.Token-tab">
            <a href="javascript:;" class="text-uppercase">
                @*<i class="icon-home"></i>*@ Токен
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li>
                    <a href="@Url.Action("Index","Setting",new{page=EnumSitePage.Token})">
                        Настройки
                    </a>
                </li>
                <li>
                    <a target="_blank" href="@Url.Action("Token","Home",new{Area="",edit="edit"})">
                        Редактирование контента
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-fw dropdown-fw-disabled" id="statistic-tab">
            <a href="javascript:;" class="text-uppercase">
                @*<i class="icon-home"></i>*@ Статистика
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li>
                    <a href="@Url.Action("Visit","Statistic")">
                        Посещения
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>