@model CallTime.Core.Models.Setting.SettingModel
@{
    ViewBag.Title = "Настройки страницы";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp bold uppercase">Настройки сайта</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" action="@Url.Action("UpdateSettings", "Setting")" method="post">
                    @Html.HiddenFor(x=>x.SitePageId)
                    <div class="form-body form-horizontal">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#tab-ru" data-toggle="tab"> RU </a>
                            </li>
                            <li>
                                <a href="#tab-en" data-toggle="tab"> EN </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="tab-ru">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Заголовок</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(x => x.RuTitle, new {@class = "form-control"})
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Keywords</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(x => x.RuKeywords, new {@class = "form-control"})
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Description</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(x => x.RuDescription, new {@class = "form-control"})
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-en">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Заголовок</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(x => x.EnTitle, new {@class = "form-control"})
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Keywords</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(x => x.EnKeywords, new {@class = "form-control"})
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Description</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(x => x.EnDescription, new {@class = "form-control"})
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <button type="submit" class="btn green">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

