@{
    Layout = null;
}

<header id="main-nav">
    <div class="top-header ">
        <div class="container">
            <div class="col-md-6 flex-top-header">

                <div><a href="@Url.Action("Index","Home")">@Resource.CallCenter</a></div>
                <div><a href="@Url.Action("Token","Home")">@Resource.Token</a></div>
                <div><a href="@Url.Action("PersonalCabinet","Home")">@Resource.PersonalArea</a></div>

            </div>
            <div class="col-md-4 flex-nav-header pull-right">
                @Url.LangSwitcher(ViewContext.RouteData, Resource.Lang)
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="col-md-2 flex-nav-header" id="logo">
                <div class="flex-item">
                    <a href="@Url.Action("Index","Home")">
                        <img src="~/asserts/img/logo call time.svg" height="39" width="111" />
                    </a>                   
                </div>
            </div>
            <div class="col-md-10  flex-nav-header">

                <div class="active flex-item  nav-services"><a href="#services" >@Resource.Services</a></div>
                <div class="flex-item nav-about"><a href="#about">@Resource.About</a></div>
                <div class="flex-item  nav-contacts"><a href="#contacts">@Resource.Contacts</a></div>
                <div class="flex-item nav-become-partner"> <a href="#become-partner">@Resource.Jobs</a></div>

            </div>
        </div>
    </div>
</header><!-- //Main Nav -->