<section id="our-offers">
    <div class="container">
        <div align="center" class="title-section">
            @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OurOffersTitle)
            <span>
                @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OurOffersSubTitle)
            </span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="img-offer wow fadeInLeft">
                    <img src="~/asserts/img/employes.png" />           
                </div>
            </div>
            <div class="flex-offers col-md-6">
                <div class="wow flipInX">
                    <div>
                        <span class="orange-box"></span>
                    </div>
                    <div>
                        @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OurOffersText1)
                    </div>
                </div>
                <div class="wow flipInX" data-wow-delay="0.3s">
                    <div>
                        <span class="orange-box"></span>
                    </div>
                    <div>
                        @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OurOffersText2)
                    </div>
                </div>
                <div class="wow flipInX" data-wow-delay="0.6s">
                    <div>
                        <span class="orange-box"></span>
                    </div>
                    <div>
                        @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OurOffersText3)
                    </div>
                </div>
                <div class="wow flipInX" data-wow-delay="0.9s">
                    <div>
                        <span class="orange-box"></span>
                    </div>
                    <div>
                        @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OurOffersText4)
                    </div>
                </div>
                <div  class="wow flipInX" data-wow-delay="1.2s">
                    <div>
                        <span class="orange-box"></span>
                    </div>
                    <div>
                        @ContentHelper.GetContent(Model.PageContents, EnumContentKey.OurOffersText5)
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>
