<section id="solve-problems">
    <div class="container flex-column ">
        <div class="title-header  col-md-6">
            @ContentHelper.GetContent(Model.PageContents, EnumContentKey.SolveProblemsTitle)

            <p>@Resource.With <span class="typed" data-text="@Resource.CryptoExchange"></span></p>
        </div>
        <span  id="description-text"></span>
        <div class="desicription-header col-md-6" id="desicription-header">
            @ContentHelper.GetContent(Model.PageContents, EnumContentKey.SolveProblemsText)

        </div>
        <div>
            <a href="#subscribe">
                <button class="btn btn-orange upper">@Resource.Subscription</button>
            </a>
        </div>
        <div class="list-social col-md-6">
            <div  class="col-md-4"> <a href="https://www.facebook.com/call.token.1" class="animated-button victoria-one">Facebook</a> </div>
            <div class="col-md-4"> <a href="https://twitter.com/call_token" class=" animated-button victoria-two">Twitter</a> </div>
            <div class="col-md-4"> <a href="#" class="animated-button victoria-four">Instagram</a> </div>
        </div>
        <div>
            
        </div>
     
    </div>

</section>

   