<section id="stages-project">
    @*<div>
        <span class="background-year">2018</span>
    </div>*@
    <div class="stage-container">

        <div align="center" class="title-section">
            @ContentHelper.GetContent(Model.PageContents, EnumContentKey.ProjectStagesTitle)
            <span>
                @ContentHelper.GetContent(Model.PageContents, EnumContentKey.ProjectStagesSubTitle)
            </span>
        </div>
        <div class="flex-stage">
            <div>
                <span class="black-text">
                    @Resource.BirthIdea
                </span>
            </div>
            <div>
                <span class="orange-text">
                    2018 / @Resource.Quarter I
                </span>
            </div>
            <div>
                <span class="black-text">
                    @Resource.BeginningMarketingCompany
                </span>
            </div>
            <div>
                <span class="orange-text">
                    @Resource.Quarter 2
                </span>
            </div>
            <div>
                <span class="black-text">
                    @Resource.BeginningNegotiationsWithExchanges
                </span>
            </div>
            <div>
                <span class="orange-text">
                    @Resource.Quarter 3
                </span>
            </div>
            <div>
                <span class="black-text">
                    @Resource.ConclusionServiceWithFirstExchange
                </span>
            </div>
            <div>
                <span class="orange-text">
                    2019 / @Resource.Quarter I
                </span>
            </div>
            <div>
                <span class="black-text">
                    @Resource.SupportForProjectsStartups
                </span>
            </div>

            <!--Точки-->
            <div class="point">
                <div>
                    <span></span>
                </div>
            </div>
            <div class="point">
                <div>
                    <span></span>
                </div>
            </div>
            <div class="point">
                <div>
                    <span></span>
                </div>
            </div>
            <div class="point">
                <div>
                    <span></span>
                </div>
            </div>
            <div class="point">
                <div>
                    <span></span>
                </div>
            </div>
            <div class="point">
                <div>
                    <span></span>
                </div>
            </div>
            <div class="point">
                <div>
                    <span></span>
                </div>
            </div>
            <div class="point">
                <div>
                    <span></span>
                </div>
            </div>
            <div class="point">
                <div>
                    <span></span>
                </div>
            </div>

            <div>
                <span class="orange-text bottom">
                    2017
                </span>
            </div>
            <div>
                <span class="black-text bottom">
                    @Resource.CreatingTokenTrainingStaff
                </span>
            </div>
            <div>
                <span class="orange-text bottom">
                    @Resource.Quarter I
                </span>
            </div>
            <div>
                <span class="black-text bottom">
                    @Resource.BountyCompany
                </span>
            </div>
            <div>
                <span class="orange-text bottom">
                    @Resource.Quarter 3
                </span>
            </div>
            <div>
                <span class="black-text bottom">
                    @Resource.InitialPlacementExchange
                </span>
            </div>
            <div>
                <span class="orange-text bottom">
                    @Resource.Quarter 4
                </span>
            </div>
            <div>
                <span class="black-text bottom">
                    @Resource.ServingMore10Exchanges
                </span>
            </div>
            <div>
                <span class="orange-text bottom">
                    2019 / @Resource.Quarter I
                </span>
            </div>


        </div>
        <div class="arrow wow bounceInLeft"></div>
        <div class="arrow small top     "></div>
        <div class="arrow small bottom "></div>
    </div>
</section>
